<footer class="footer py-10 py-lg-11 footer-border-radius">
  <div class="container">
    <div class="d-flex flex-lg-row flex-column justify-content-lg-between">
      <a class="navbar-brand" href="index.html"
        ><img
          src="/assets/images/logo-white.png"
          alt="logo"
          class="me-4 img-fluid mb-9"
          style="width: 200px; height: 32px"
      /></a>
      <ul
        class="list-unstyled d-flex w-lg-100 justify-content-lg-end flex-column flex-lg-row"
      >
        <li><a href="#" class="mb-6 me-lg-8">常見問題</a></li>
        <li><a href="about.html" class="mb-6 me-lg-8">關於我們</a></li>
        <li><a href="#" class="mb-6 me-lg-8">隱私權政策</a></li>
        <li><a href="#" class="mb-6">使用者條款</a></li>
      </ul>
    </div>
    <ul
      class="d-flex list-unstyled flex-lg-row flex-column flex-lg-row-reverse justify-content-lg-between align-items-lg-end"
    >
      <li class="flex-lg-row">
        <ul class="list-unstyled d-flex flex-lg-row mb-8">
          <li>
            <a href="#"
              ><span class="py-3 px-4 border border-1 rounded-circle me-4"
                ><i class="bi bi-line"></i></span
            ></a>
          </li>
          <li>
            <a href="#"
              ><span class="py-3 px-4 border border-1 rounded-circle me-4"
                ><i class="bi bi-youtube"></i></span
            ></a>
          </li>
          <li>
            <a href="#"
              ><span class="py-3 px-4 border border-1 rounded-circle"
                ><i class="bi bi-facebook"></i></span
            ></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="fs-9"
          >copyright © 2024 課程網站 All Rights Reserved.</a
        >
      </li>
    </ul>
  </div>
</footer>
