footer {
  background: $black;
  color: $white;
}

.footer-border-radius {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  @include media-breakpoint-up(lg) {
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
  }
}
